.box {
  max-width: 150rem;
  overflow: scroll;
  min-height: 100svh;
}

.desktop{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 1200px) {
    .desktop{
      flex-direction: row;
      width: 95%;
    }
}
